<h3><%=t('view.comfirmation')%></h3>
<%= form_with(model: @task, local: true) do |form| %>
  <%= form.hidden_field :title %>
  <%= form.hidden_field :content %>
  <%= form.hidden_field :deadline %>
  <%= form.hidden_field :status %>
  <%= form.hidden_field :priority %>
  <p><%=t('view.task_name')%>:<%= @task.title %></p>
  <p><%=t('view.task_detail')%>:<%= @task.content %></p>
  <p><%=t('view.task_deadline')%>:<%= @task.deadline %></p>
  <p><%=t('view.task_status')%>:<%= @task.status %></p>
  <p><%=t('view.task_priority')%>:<%= @task.priority %></p>
  <%= form.submit t('view.comfirm_create') %>
  <%= form.submit t('view.comfirm_back'), name: 'back' %>
<% end %>
