<h1><%=t('view.tasks_index')%></h1>
<p><%= notice %></p>
<table>
  <tr>
    <th><%=t('view.task_name')%></th>
    <th><%=t('view.task_detail')%></th>
    <th><%=t('view.task_deadline')%></th>
    <th><%=t('view.task_status')%></th>
    <th><%=t('view.task_priority')%></th>
  </tr>
<% @tasks.each do |task| %>
  <tr class = 'task_row'>
    <td><%= task.title %></td>
    <td><%= task.content %></td>
    <td><%= task.deadline %></td>
    <td><%= task.status %></td>
    <td><%= task.priority %></td>
    <td><%= task.created_at%></td>
    <td><%= link_to t('view.detail'), task_path(task.id) %></td>
    <td><%= link_to t('view.edit'), edit_task_path(task.id) , data: { confirm: '本当に編集していいですか？' } %></td>
    <td><%= link_to t('view.destroy'), task_path(task.id), method: :delete , data: { confirm: '本当に削除していいですか？' }%></td>
  </tr>
<% end %>

<%= link_to t('view.new_task'), new_task_path %>
</table>
